--extra-index-url https://download.pytorch.org/whl/cu124
setuptools<75
numpy<2
PyQt6==6.8.0
soundcard==0.4.1
faster-whisper==1.0.2
onnxruntime==1.24.1
argostranslate==1.11.0
requests==2.31.0
# ltengine==0.1.0
PyInstaller==6.15.0
transformers==4.44.2
sentencepiece==0.2.0
accelerate==1.13.0
huggingface-hub==0.26.0
# GPU (CUDA 12.4):
# torch==2.6.0+cu124
torchaudio==2.6.0+cu124
torchvision==0.21.0+cu124
ctranslate2==4.4.0
nvidia-cublas-cu12==12.9.2.10
nvidia-cuda-nvrtc-cu12==12.9.86
nvidia-cudnn-cu12==8.9.7.29